
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: linear-gradient(  45deg,
  hsl(198deg 75% 60%) 0%,
  hsl(199deg 100% 47%) 10%,
  hsl(206deg 100% 48%) 20%,
  hsl(213deg 100% 47%) 30%,
  hsl(225deg 82% 49%) 40%,
  hsl(269deg 100% 40%) 50%,
  hsl(308deg 100% 37%) 60%,
  hsl(329deg 100% 47%) 70%,
  hsl(340deg 100% 50%) 80%,
  hsl(10deg 100% 59%) 90%,
  hsl(32deg 100% 50%) 100%
    )
    
}
.container{
    display: flex;
    text-align: center;
    justify-content: center;
}
#main-h1{
    border: 0px solid black;
    border-radius: 0px 0px 50% 50%;
    overflow: hidden;
    width: 150px;
    background-color: #fff;
    color: #6200ca;
}


.gift-card{
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    
    
}

#gif-1{
    border: 0px solid black; 
    border-radius: 10px;
    height: 300px;
    width: 200px;
    position: relative;
    top: 130px;
    background: #fff;
}
.heading-1{
    height: 90px;  
    border-radius: 10px 10px 50% 50%; 
    background-color: rgb(255, 230, 0);
}

.para{
    padding-top: 12px;
}

.learn-more-1{
    margin-top: 27px;
    height: 40px;
    width: 100%;
    background-color: rgb(253, 253, 6);
    border-radius: 20px;
}

#gif-2{
    border: 0px solid black;
    border-radius: 10px;
    height: 300px;
    width: 200px;
    position: relative;
    top: 130px;
    background-color: #fff;
}
.heading-2{
    height: 90px;  
    border-radius: 10px 10px 50% 50%; 
    background-color: rgb(255, 0, 140);
}

.para{
    padding-top: 12px;
}

.learn-more-2{
    margin-top: 27px;
    height: 40px;
    width: 100%;
    background-color: rgb(255, 0, 140);
    border-radius: 20px;
}
#gif-3{
    border: 0px solid black;
    border-radius: 10px;
    height: 300px;
    width: 200px;
    position: relative;
    top: 130px;
    background-color: #fff;
}
.heading-3{
    height: 90px;  
    border-radius: 10px 10px 50% 50%; 
    background-color: #73ff00;
}

.para{
    padding-top: 12px;
}

.learn-more-3{
    margin-top: 27px;
    height: 40px;
    width: 100%;
    background-color: #73ff00;
    border-radius: 20px;
}





